@import "frappe.css";

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(#2f343f, 0.9);
  border: 1px solid alpha(@crust, 0.3);
}
* {
  font-family: Inconsolata;
  font-size: 14px;
  font-weight: bold;
  min-height: 0px;
}

#waybar {
  background: #ffffff;
  color: @text;
  margin: 5px 10px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @base;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#workspaces button.focused {
  color: #ffffff;
  background-color: #3f3f3f;
  border-bottom: 2px solid #fba922;
}

#workspaces button.active {
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#memory,
#temperature,
#cpu,
#network,
#keyboard-state,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#cpu{
  min-width: 25px;
}

#network{
  min-width: 300px;
}

#language {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  min-width: 20px;
}

#clock {
  color: @lavender;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

/* #backlight { */
/*   color: @yellow; */
/* } */

/* #backlight, #battery { */
/*     border-radius: 0; */
/* } */

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
